@model CharacterProfileApp.Models.CharacterProfile
@{
    ViewBag.Title = Model.Name + "'s Profile";
}

<h2>@Model.Name</h2>

<p>@Model.Description</p>

<h4>@(@Model.Name)'s Stats</h4>

<p>@Html.ActionLink("Edit", "Edit", new { Model.Id })</p>
<p>@Html.ActionLink("Delete", "Delete", new { Model.Id })</p>





